#head {
    position: relative;
    margin: 131px 90px 31px;
    font-size: 50px;
}

#messagesDiv {
    position: relative;
    margin: 80px 150px 50px;
    background-color: #f5f5f5;
    min-width: 1400px;
    padding: 20px;
    min-height: 600px;
}

#messages {
    margin: 30px 90px;
}

#messages td {
    position: relative;
    width: 1200px;
    padding: 10px;
}

#messages td .createdTime {
    font-size: 12px;
    color: #a19f9f;
    font-style: italic;
}

#messages .mine .createdTime {
    position: absolute;
    right: 10px;
}

#messages td .messageContent {
    font-size: 23px;
    width: fit-content;
    width:-moz-fit-content;
    padding: 10px;
    max-width: 600px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    background-color: white;
    font-family: "Microsoft YaHei UI";
}

#messages .mine .messageContent {
    margin-top: 14px;
    float:right;
    background-color: #9eea6a;
}

#sendMessage {
    position: relative;
    margin: 100px 180px;
    min-width: 1000px;
}

#sendMessage textarea {
    resize: none;
    height: 100px;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

#sendMessage button {
    padding: 5px 15px;
    background-color: #3385ff;
    border: 0;
    border-bottom: 1px solid #2d78f4;
    font-size: 15px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 70px;
    vertical-align: bottom;
    margin-left: 20px;
}

#sendMessage button:hover {
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
}

#sendMessage button:active {
    background-color: #3075dc;
}
